.navbar {
  background-color: #007bff;
  padding: 10px 20px;
  display: flex;
  justify-content: flex-end;

  .nav-link {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;

    &:hover {
      text-decoration: underline;
    }
  }

  .cart-link {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      width: 10px;
      height: 10px;
      background-color: #dc3545;
      border-radius: 50%;
      top: -5px;
      right: -5px;
      display: inline-block;
      visibility: hidden;
    }

    &.has-items::after {
      visibility: visible;
    }
  }
}
